{% extends 'base.html' %}

{% block title %}
Bienvenido a mi portafolio
{% endblock %}

{% block content %}
<div class = "panel">
    <div class="panel-content">
    <div class = "left">
        <h1>Soy Desarrollador</h1>
        <h1>Alberto Fernandez</h1>
        <p>Desarrollador web con experiencia en HTML, CSS y Python. Me apasiona crear aplicaciones innovadoras y funcionales.</p>
        <a href="#contacto" class="btn">Contáctame</a>
    </div>
    <div class = "right">
        <img src="{{ url_for('static', filename='bigdata.png') }}" width=600px/>
    </div>
    </div>
</div>
{% include 'portfolio/primera-seccion.html' %}
{% include 'portfolio/segunda-seccion.html' %}

{% endblock %}

{% block footer %}
<p>© 2023 Mi Portafolio. Todos los derechos reservados.</p>
<p>Contacto:</p>
{% endblock %}  

