{% extends 'base.html' %}

{% block title %}
Bienvenido a mi portafolio
{% endblock %}

{% block content %}
<div class = "panel">
    <div class="panel-content">
    <div class = "left">
        <h1>Soy Desarrollador</h1>
        <h1>Alberto Fernandez</h1>
        <p>Transformo ideas en productos digitales funcionales y atractivos. Como desarrollador, 
            combino mi conocimiento técnico con un enfoque en la resolución de problemas. 
            Me dedico a construir experiencias de usuario intuitivas y eficientes, siempre buscando la mejora continua y el aprendizaje.</p>
        <a href="#contacto" class="btn">Contáctame</a>
    </div>
    <div class = "right">
        <img src="{{ url_for('static', filename='bigdata.png') }}" width=600px/>
    </div>
    </div>
</div>
{% include 'portfolio/primera-seccion.html' %}
{% include 'portfolio/segunda-seccion.html' %}
{% include 'portfolio/formulario-contacto.html' %}

{% endblock %}

