<div class="center">
    <div class="content">
        <div class="row vert-pad">
            <div class='left padded'>
                <h1>Desarrollador comprometido con el aprendizaje constante</h1>
                <p>
                    Me especializo en crear soluciones que combinan funcionalidad y experiencia de usuario,
                    aplicando lo aprendido en proyectos reales y académicos. Disfruto resolver problemas complejos con
                    código y busco siempre mejorar
                    un 1% cada día. Esta web la construí desde cero usando Python y Flask, como parte de mi camino para
                    dominar tecnologías backend.
                </p>

            </div>
            <div class="right padded">
                <h1>¿Trabajamos juntos en tu próxima idea? No dudes en contactarme</h1>
                <p>
                    Si estás buscando a alguien que no solo programe, sino que también entienda la importancia de
                    mejorar continuamente,
                    estaré feliz de colaborar contigo. Ya sea una oportunidad laboral, freelance o simplemente
                    intercambiar ideas,
                    puedes escribirme sin compromiso.
                    <a class="naranjo" href="#contacto">Envíame un correo.</a>
                </p>
            </div>
        </div>
    </div>
</div>