<div class="center">
    <div class="content">
        <div class="row vert-pad">
            <div class='left padded'>
                <h1>Desarrollo con pasión aplicaciones y sitios web para personas</h1>
                <p>Constantemente me encuentro aprendiendo nuevas tecnologias y desarrollando aplicaciones por placer.
                    Esta web la construi desde cero con Python y Flask, queriendo conocer más de este mundo.
                </p>
            </div>
            <div class="right padded">
                <h1>Podemos conversar lo que quieras!</h1>
                <p> Si quieres contactarme solo enviame un correo <a class="naranjo" href="#contacto"> Pinchando
                        Aqui</a></p>
            </div>
        </div>
    </div>
</div>