<div class="center padded white-bg">
    <div class="content padded">
        <div class="padded">
            <h1>No estas convencido? mira lo que he construido</h1>
        </div>
        <div class="row">
            <a href="https://aquaprontoapp.firebaseapp.com/store" target="_blank" class="card third card-link">
                <h3>Aqua Pronto web/app</h3>
                <p>
                    Aquapronto es una aplicación web orientada al servicio de delivery de agua embotellada, desarrollada
                    como proyecto final de carrera.
                    El sistema permite a los usuarios, realizar pedidos de productos como bidones de agua y
                    dispensadores, además
                    hacer seguimiento del estado de sus pedidos en tiempo real.
                </p>
                <div class="tech-tags">
                    <span>Angular</span>
                    <span>Google Maps API</span>
                    <span>Firebase</span>
                    <span>Capacitor</span>
                    <span>HTML & SCSS</span>
                </div>
            </a>

            <div class="card third">
                <h3>Mailer app</h3>
                <p>Una aplicacion que venta y despacho de bidones de agua con trackeo del despacho en tiempo real</p>
                <a class="naranjo" target="_blank" href="#">Link aqui</a>
            </div>
            <div class="card third">
                <h3>Mailer app</h3>
                <p>Una aplicacion que venta y despacho de bidones de agua con trackeo del despacho en tiempo real</p>
                <a class="naranjo" target="_blank" href="#">Link aqui</a>
            </div>
        </div>
    </div>

</div>