<div class = "center padded white-bg">
    <div class="content padded">
        <div class="padded">
            <h1>No estas convencido? mira lo que he construido</h1>
        </div>
        <div class="row">
            <div class ="card third">
                <h3>Mailer app</h3>
                <p>Una aplicacion que venta y despacho de bidones de agua con trackeo del despacho en tiempo real</p>
                <a class ="naranjo" target="_blank" href="#">Link aqui</a>
            </div>
            <div class ="card third">
                <h3>Mailer app</h3>
                <p>Una aplicacion que venta y despacho de bidones de agua con trackeo del despacho en tiempo real</p>
                <a class ="naranjo" target="_blank" href="#">Link aqui</a>
            </div>
            <div class ="card third">
                <h3>Mailer app</h3>
                <p>Una aplicacion que venta y despacho de bidones de agua con trackeo del despacho en tiempo real</p>
                <a class ="naranjo" target="_blank" href="#">Link aqui</a>
            </div>
        </div>
    </div>

</div>